<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href={{url_for('static', filename='estilo.css' )}}>

    <title>{% block titulo %}{% endblock %}</title>
</head>

<body>
    <div class="flex-container">
        <div><img class="logo" src="{{url_for('static', filename='img/download.jpeg')}}" alt=""></div>
        <div><span class="site"><a href="/">Mural</a></span></div>
    </div>
    {% block conteudo %}{% endblock %}
    <hr>
    <footer>Este site não se responsabiliza por nada nem ninguém.</footer>
</body>

</html>